.hero-page {
  background-image: url('https://c3zcjux6qs.ufs.sh/f/oKESAOMdpV6HDBWCXzREWItuR9x085SPT6hpaegXfAoldUKO');
  background-repeat: no-repeat;
  background-size: cover;
  max-height: 100dvh;
  height: calc(100dvh - 4rem);
  margin: 2rem;
  border-radius: 1.5rem;
  padding-left: 4rem;
  padding-right: 4rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
