.hero-page {
  background-image: url('https://rhs25qyoh1.ufs.sh/f/0ymxA19g3Q7lOftB05oUYRvzh0Iw9Dtm6cO78Laq1Gls5gZA');
  background-repeat: repeat;
  background-size: cover;
  background-position: center;
  max-height: 100dvh;
  height: calc(100dvh - 4rem);
  margin: 2rem;
  border-radius: 1.5rem;
  padding-left: 4rem;
  padding-right: 4rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@media (max-width: 768px) {
  .hero-page {
    margin: 1rem;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    height: calc(100dvh - 2rem);
    border-radius: 1.2rem;
  }
}

@media (max-width: 480px) {
  .hero-page {
    margin: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    height: calc(100dvh - 1.5rem);
    border-radius: 1rem;
  }
}